<!-- <div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!recipeForm.valid"
          >
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
              #imagePath
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="let ingredientCtrl of ingredientsControls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px;"
          >
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteIngredient(i)"
              >
                X
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddIngredient()"
              >
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div> -->



<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" fxLayout="row" >
  <mat-card class="example-card" fxLayout="row"  fxLayoutAlign="center ">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Enter recipe details here </mat-card-title>
      
    </mat-card-header>
   
    <mat-card-content  >
      <mat-form-field appearance="fill" class="new-recipe-form">
        <mat-label>Name</mat-label>
        <input matInput  id="name" formControlName="name">    
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="new-recipe-form">
        <mat-label>Image Url</mat-label>
        <input matInput #imagePath id="imagePath" formControlName="imagePath">
      </mat-form-field>
      <br>
      <div >
        <img [src]="imagePath.value" style="max-height: 300px;"/>
      </div>
      <br>
      <mat-form-field appearance="fill" class="new-recipe-form">
        <mat-label>Description</mat-label>
        <textarea matInput id="description" formControlName="description"></textarea>
      </mat-form-field>

      <div fxFlex>
        <div  formArrayName="ingredients">
          <div
            
            *ngFor="let ingredientCtrl of ingredientsControls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px;"
          >
            <div >
              <mat-form-field appearance="fill">
                <mat-label>Ingredient Name</mat-label>
                <input matInput  id="name" formControlName="name">
              </mat-form-field>
              <br>
            </div>
            
            <div>
              <mat-form-field appearance="fill" >
                <mat-label>Ingredient Amount</mat-label>
                <input matInput  id="name" type="number" formControlName="amount" >
              </mat-form-field>
            </div>
            <div >
              <button mat-icon-button color="warn"  matTooltip="Delete this ingredient" type="button" (click)="onDeleteIngredient(i)">
                <mat-icon >delete</mat-icon>
              </button>
            </div>
          </div>
          <hr />
          <div >
            <div >
              <button mat-raised-button color="primary" type="button" (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      

    
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" type="submit" [disabled]="!recipeForm.valid">save</button>
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>  









</form>