<!-- <div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div> -->



<form (ngSubmit)="onSubmit(f)" #f="ngForm" >
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Add Items to shopping List</mat-card-title>
      
    </mat-card-header>
   
    <mat-card-content >
      
      <div >
        
        <mat-form-field appearance="outline" class="form-field">
          <mat-label> Item Name</mat-label>
          <input 
            id="name"
            ngModel
            name="name"
            required
            matInput >
          
        </mat-form-field>
        <br>
  
        <mat-form-field appearance="outline" class="form-field">
          <mat-label> Item Amount</mat-label>
          <input 
          id="amount"
          type="number"
          ngModel
          required
          name="amount"
          matInput 
          pattern="^[1-9]+[0-9]*$">
          
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
      type="submit"
      [disabled]="!f.valid"
      mat-raised-button color="primary">{{ editMode ? 'Update' : 'Add' }}</button>
     
      <button mat-icon-button color="warn"  
      matTooltip="Delete this item from shoping list"
      type="button" 
      (click)="onDelete()"
      *ngIf="editMode">
        <mat-icon >delete</mat-icon>
      </button>

      <button 
      type="button"
      mat-raised-button  color="accent" (click)="onClear()">clear</button>
    </mat-card-actions>
  </mat-card>
  </form>
  
